*{
    margin: 0;
    padding: 0;
    font-family: var(--primary-font);
    color: var(--text2-color);
    box-sizing: border-box;
   
}

:root{
    --background-color1: #12131A;
    /* color textarea */
    --background-color2: #1C1F2A;
    /* color texto principal */
    --text1-color: #F2F2F7;
    /* color texto secundario */
    --text2-color: #B4B7C9;
    /* color progress bar */
    --progressbar-color: #D19BFF;
    /* color border*/
    --border-color: #2A2D3A;
    /* fuente */
    --primary-font: "Space Grotesk", "Inter";
}
body{
    background-color: #f3f3f2;
    display: flex;
    justify-content: center;
    height: fit-content;
    
    
}


.card{
    background-color: var(--background-color1);
    width: 600px;
    padding: 20px 30px;
    box-shadow: 4px 5px 5px 0px var(--background-color2);
    margin-top: 30px;
    margin-bottom: 30px;
    
}

.header{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 13px;
    
   

}


.logo{

width:35px;

}


.modeswitch{
    margin-left: auto;
    background-color: var(--background-color2);
    border-radius: 10px;
    border: none;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s;
    }

.modeswitch img{
 
    width: 25px  
}


.text h1{
    color: var(--text1-color);
    text-align: center;
    font-size: 40px;
    margin: 20px 80px;
    line-height: 1;
}

.text textarea{
    width: 100%;
    height: 140px;
    border-radius: 10px;
    padding: 15px;
    background-color: var(--background-color2);
    border-color: var(--border-color);
    font-size: 14px;
     resize: none;
     margin: 15px 0;
     box-shadow: 4px 4px 5px 0px  var(--border-color)

}

.options{
    display: flex;
    gap: 15px;
    font-size: 11px;
    margin-bottom: 30px;
}
    
.options p {
    margin-left: auto;
}

.options label {
    display: flex;
    gap: 8px;
    cursor: pointer;
    align-items: center;
    
}
.options input {
     appearance: none;
     border: solid 1px var(--text2-color);
     width: 15px;
     height: 15px;
     border-radius: 5px; 
     cursor: pointer;
}

.results{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}


.results p, .results h2{
    color: var(--background-color1);
}
.results h2{
    font-size: 40px;
}

.results p{
    font-weight:600;
    font-size: 15px;
}

.result1{
    background-image: url("./assets/images/bg1.png")
}

.result2 {
    background-image: url("./assets/images/bg2.png");
}

.result3{
    background-image: url("./assets/images/bg3.png");
}


.results article{
    width: 30%;
    height: 110px;
    border-radius: 15px;
    display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 20px;
   margin-bottom: 30px;
   background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: .3s;
}

.LetterDensity h4{
    font-size: 20px;
    font-weight: 700;
    
}
ul{
    list-style: none;
    text-transform: uppercase;
    font-size: 12px;
}
li{
    
    display: flex;
    
    align-items: center;
    margin: 10px 0;
}

.bar{
    background-color: var(--background-color2);
    width: 80%;
    height: 10px;
    align-items: center;
    border-radius: 15px;
    overflow: hidden;

}

.porcent{
    margin-left: auto;
}

.Letter{
    width: 20px;  
}

.fill{
    background-color: var(--progressbar-color);
    border-radius: 15px;

}
li:nth-child(1) .fill{
    width:16% ;
    height: 100%;
}

li:nth-child(2) .fill{
    width:11.6% ;
    height: 100%;
}
li:nth-child(3) .fill{
    width:11.2% ;
    height: 100%;
}
li:nth-child(4) .fill{
    width:8.8% ;
    height: 100%;
}
li:nth-child(5) .fill{
    width:8.4% ;
    height: 100%;
}

.LetterDensity button{
    
    display: flex;
    margin-top: 30px;
    padding: 10px;
    width: 110px;
    height: 30px;
    background-color: var(--background-color2);
    border: none;
    border-radius: 10px;
    align-items: center;
    cursor: pointer;
    margin-bottom: 40px;
    font-weight: 600;
    transition: .3s;
    
}

.LetterDensity button img{
    width: 15px;
    margin-left: auto;
}


button:hover  {
    background-color: var(--border-color);
    transform: scale(1.1);

}

.results article:hover{
    transform: scale(1.1);
}

@media (max-width: 435px){
    .card{
        width: 100%;
        min-height: fit-content;
        margin-top: 0;
        margin-bottom: 0;
       
    }

    .text h1{
        font-size: 30px;
        margin: 20px 60px;
    }
    .text textarea{
        font-size: 12px;
    }

    .options{
    
    font-size: 10px;
   
    
}
    .results{
        flex-direction: column;
        align-items: center;
        
    }
    .results article {
        width: 50%;
           }

.results p{
    font-size: 12px;
}


.LetterDensity h4{
    font-size: 15px;

}

ul{
    font-size: 10px;
}
.bar{
    width: 75%;
}
    }
